<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="{% static 'app/content/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'app/content/site.css' %}">
    <script language="JavaScript" type="text/javascript" src="{% static 'app/scripts/jquery-1.10.2.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
    <title>Edum</title>
</head>
<body> 
	<div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            {% block header %}
                <div class="navbar-header">
                    <!-- TODO -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Edum</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'courses' %}">Courses</a></li>
                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                    </ul>
                    {{ loginpartial }}
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="navigation">
        {# make navigation between pages #}
        {% block navigation %}
        {% endblock %}
    </div>
    <div class="main container theme-showcase jumbotron">
        {% block main %}
        {% endblock %}
    </div>
    <div class="footer">
        
    </div>
</body>
</html>