{% extends "base.html" %}

{% block navigation %}
    {{ course.name }}
{% endblock %}

{% block main %}
    <form action="{% url 'update_course' course.id %}" method="post">
        {% csrf_token %}
        {{ course_form }}
        <input class="btn btn-primary form-btn" type="submit" value="Update"/>
    </form>
    <form action="{% url 'delete_course' course.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger form-btn delete-course-btn" type="submit" value="Delete" />
    </form>
    <a class="middle-href" href="{% url 'edit_modules' course.id %}">Modules</a>
{% endblock %}