{% extends "base.html" %}

{% block navigation %}
    <a href="{% url 'edit_course' module.course.id %}">{{ module.course.name }}</a>
    /
    <a href="{% url 'edit_modules' module.course.id %}">Modules</a>
    /
    Lectures
{% endblock %}

{% block main %}
    <div class="list">
        {% for form in forms %}
            <form action="{% url 'update_lecture' module.id form.lecture_id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary form-btn" type="submit" value="Update"/>
            </form>
            <form action="{% url 'delete_lecture' module.id form.lecture_id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger form-btn delete-course-btn" type="submit" value="Delete" />
            </form>
        {% endfor %}
    </div>
    <form action="{% url 'add_lecture' module.id %}" method="post">
        {% csrf_token %}
        {{ lecture_form }}
        <input class="btn btn-success form-btn" type="submit" value="Create" />
    </form>
{% endblock %}