{% extends "base.html" %}

{% block main %}
   <div class="nav">
        <a href="{% url 'edit_course' course.id %}">{{ course.name }}</a>
    </div> 


    <div class="list">
        {% for form in forms %}
            <form action="{% url 'update_module' course.id form.module_id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Update" />
            </form>
            <form action="{% url 'delete_module' course.id form.module_id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete" />
            </form>
            <a href="{% url 'edit_lectures' course.id form.module_id %}">Lectures</a>
            <a href="{% url 'edit_tests' course.id form.module_id %}">Tests</a>
        {% endfor %}
    </div>
    <form action="{% url 'add_module' course.id %}" method="post">
        {% csrf_token %}
        {{ module_form }}
        <input type="submit" />
    </form>
{% endblock %}