{% extends "base.html" %}

{% block main %}
    <div class="list">
        {% for form in forms %}
            <form action="{% url 'update_test' module_id form.test_id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Update"/>
            </form>
            <a href="{% url 'edit_test' course_id module_id form.test_id %}">Edit</a>
            <form action="{% url 'delete_test' module_id form.test_id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete"/>
            </form>
        {% endfor %}
    </div>
    <form action="{% url 'add_test' module_id %}" method="post">
        {% csrf_token %}
        {{ test_form }}
        <input type="submit" />
    </form>
{% endblock %}