{% extends "base.html" %}

{% block navigation %}
    <a href="{% url 'edit_course' course.id %}">{{ test.module.course.name }}</a>
    /
    <a href="{% url 'edit_modules' course.id %}">Modules</a>
    /
    <a href="{% url 'edit_tests' course.id module.id %}">Tests</a>
    /
    {{ test.name }}
{% endblock %}

{% block main %}
    <form action="{% url 'update_test' module.id test.id %}" method="post">
        {% csrf_token %}
        {{ test_form }}
        <input class="btn btn-primary form-btn" type="submit" value="Update"/>
    </form>
    <form action="{% url 'delete_test' module.id test.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger form-btn delete-course-btn" type="submit" value="Delete"/>
    </form>
    <p>Questions(Number = {{ question_forms|length }})</p>
    {% for question_form in question_forms %}
        <div class="question-form-container">
            <form action="{% url 'update_question' test.id question_form.question_id %}" method="post">
                {% csrf_token %}
                {{ question_form }}
                <input class="btn btn-primary" type="submit" value="Update"/>
            </form>
            <form class="question-delete-form" action="{% url 'delete_question' test.id question_form.question_id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete" />
            </form>
        </div>
        <p>Answers</p>
        <div class="rows">
            {% for answer_form in question_form.answers %}
                <div class="col-md-4">
                <form action="{% url 'update_answer' question_form.question_id answer_form.answer_id %}" method="post">
                    {% csrf_token %}
                    {{ answer_form }}
                    <input class="btn btn-primary" type="submit" value="Update"/>
                </form>
                <form class="answer-delete-form" action="{% url 'delete_answer' question_form.question_id answer_form.answer_id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
                </div>
            {% endfor %}
        </div>
        <form action="{% url 'add_answer' question_form.question_id %}" method="post">
            {% csrf_token %}
            {{ answer_form }}
            <input type="submit" class="btn btn-success" value="Create"/>
        </form>
        <div class="clearfix course-break"></div>
    {% endfor %}
    <form action="{% url 'add_question' test.id %}" method="post">
        {% csrf_token %}
        {{ question_form }}
        <input class="btn btn-success form-btn" value="Create" type="submit" />
    </form>
{% endblock %}