{% extends "base.html" %}

{% block main %}
    <div class="list">
        {% for course in courses %}
            <div class="list_element">
                <h1><a href="{% url 'course' course.id %}">{{ course.name }}</a></h1>
                {% if editing_permission %}
                    <a href="{% url 'edit_course' course.id %}">edit</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if editing_permission %}
        <form action="{% url 'add_course' %}" method="post">
            {% csrf_token %}
            {{ course_form }}
            <input type="submit" />
        </form>
    {% endif %}
{% endblock %}