{% extends "base.html" %}

{% block main %}
    <script>
        $(document).ready(function () {
            $(".like-button").click(function () {
                $.get("{% url 'like_course' course.id %}", function (data) {
                    $(".like-count").text(data);
                });
            });
        });
    </script>
    <div class="overview">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h1>{{ course.name }}</h1>
                    <div class="progress-container">
                        {% if course in user.user_profile.signed_courses.all %}
                            Progress: <progress max="100" value="{{ progress.progress }}"></progress>
                            <a class="label label-danger" href="{% url 'unsubscribe' course.id %}">unsubscribe</a>
                        {% else %}
                            <a class="label label-success" href="{% url 'subscribe' course.id %}">subscribe</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>Duration: {{ course.duration|floatformat }}h</p>
                <p>{{ course.overview }}</p>
            </div>
        </div>
        {% if is_authenticated %}
            <div class="like-container">
                <div class="like-button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
                <span class="like-count">{{ course.rating }}</span>
            </div>
        {% endif %}
        <hr>
    </div>
    <div class="list">
        {% if course in user.user_profile.signed_courses.all %}
            <p>Modules: </p>
            {% for module in course.modules.all %}
                <div class="list_element_min">
                    <p><a href="{% url 'module' course.id module.id %}">{{ module.name }}</a></p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}