{% extends "base.html" %}

{% block main %}
    <div class="overview">
        <h1>{{ course.name }}</h1>
        <p>{{ course.overview }}</p>
        {% if is_authenticated %}
            {% if course in user.user_profile.signed_courses.all %}
                Progress: <progress max="100" value="{{ progress.progress }}"></progress>
                <a href="{% url 'unsubscribe' course.id %}">unsubscribe</a>
            {% else %}
                <a href="{% url 'subscribe' course.id %}">subscribe</a>
            {% endif %}
            <form action="{% url 'like_course' course.id 'course' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Like" />
            </form>
            Likes {{ course.rating }}
        {% endif %}
        <hr>
        <p>{{ course.duration }} hours</p>
    </div>
    <div class="list">
        {% if course in user.user_profile.signed_courses.all %}
            <p>Modules: </p>
            {% for module in course.modules.all %}
                <div class="list_element_min">
                    <p><a href="{% url 'module' course.id module.id %}">{{ module.name }}</a></p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}