{% extends "base.html" %}

{% block main %}
    <div class="overview">
        <h1>{{ course.name }}</h1>
        <p>{{ course.overview }}</p>
        <form action="{% url 'like_course' course.id 'course' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Like" />
        </form>
        Likes {{ course.rating }}
        <hr>
        <p>{{ course.duration }} hours</p>
    </div>
    <div class="list">
        <p>Modules: </p>
        {% for module in course.modules.all %}
            <div class="list_element_min">
                <p><a href="{% url 'module' course.id module.id %}">{{ module.name }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}