{% extends "base.html" %}

{% block main %}
    <div class="course-container">
        {% for course in courses %}
            <div class="course-element">
                <h1><a href="{% url 'course' course.id %}">{{ course.name }}</a>
                    {% if editing_permission and user.id == course.author.id %}
                        <a class="glyphicon glyphicon-edit edit-button" href="{% url 'edit_course' course.id %}"></a>
                    {% endif %}
                </h1>
                {% if is_authenticated %}
                    {% if course in user.user_profile.signed_courses.all %}
                        <a class="label label-danger" href="{% url 'unsubscribe' course.id %}">unsubscribe</a>
                    {% else %}
                        <a class="label label-success" href="{% url 'subscribe' course.id %}">subscribe</a>
                    {% endif %}
                {% endif %}
                <div class="like-container">
                    <span class="label label-primary like-count">
                        <span class="glyphicon glyphicon-heart"></span> 
                        {{ course.rating }}
                    </span>
                </div>
            </div>
            <div class="clearfix course-break"></div>
        {% endfor %}
    </div>
    <br/>
    {% if editing_permission %}
        <form action="{% url 'add_course' %}" method="post">
            {% csrf_token %}
            {{ course_form }}
            <input type="submit" value="Create"/>
        </form>
    {% endif %}
{% endblock %}