{% extends "base.html" %}

{% block navigation %}
    <a href="{% url 'course' test.module.course.id %}">{{ test.module.course.name }}</a>
    /
    <a href="{% url 'module' test.module.course.id test.module.id %}">{{ test.module.name }}</a>
    /
    {{ test.name }}
{% endblock %}

{% block main %}

<div class="overview">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h1>{{ test.name }}</h1>
            </div>
        </div>
        <div class="panel-body">
            <p>Test duration: {{ test.duration }}</p>
            <p>Number of questions: {{ test.questions.all|length }}</p>
        </div>
    </div>
</div>

<div class="start-test-button">
    <a class="btn btn-primary" href="{% url 'start_test' test.module.course.id test.id %}">Start test</a>
</div>

{% endblock %}