{% extends "base.html" %}

{% block main %}
<script>
    var questions = [];
    var answers = [];
    var userResults = [];
    var currentQuestion = 0;
    var testDuration = {{ duration }};

    $(document).ready(function () {

        setTimeout(function () {
            saveUserAnswer();
            finishTest(); 
        }, testDuration);

        startTimer(testDuration / 1000, $("#timer"));

        $.get("{% url 'get_questions' test.id %}", function (data) {
            questions = Object.keys(data);
            for (var i in questions){
                answers.push(data[questions[i]]);
            }
            showNavigation(questions.length);
            showQuestion();
        });

        $("#navigation").on("click", ".question_id", function () {
            saveUserAnswer();
            currentQuestion = this.innerHTML;
            showQuestion();
        });

        $("#answer_button").click(function () {
            saveUserAnswer();
            currentQuestion++;
            if (currentQuestion >= questions.length) {
                if (confirm("Are you sure, you want to finish test?")) {
                    finishTest();
                }
                currentQuestion = 0;
            }
            showQuestion();
        });

        $("#finish_button").click(function () {
            if (!confirm("Are you sure, you want to finish test?")) return;
            saveUserAnswer();
            finishTest();
        });
    });

    var showNavigation = function (questionCount) {
        for(var i = 0; i < questionCount; i++) {
            $("<div class='question_id'>" + i + "</div>").appendTo("#navigation");
        }
    }

    var showQuestion = function () {
        $("#answers").text("");
        $("#question").text(questions[currentQuestion]);
        var questionAnswers = answers[currentQuestion];
        var checkedAnswers = getCheckedAnswers(questions[currentQuestion]);

        var index = arrayObjectIndexOf(userResults, questions[currentQuestion], 'text');
        if (index > -1) {
            userResults.splice(index, 1);
        }
        
        for (var i in questionAnswers) {
            var answerID = 'box' + i;
            checked = "";
            if(checkedAnswers[i]) checked = "checked";
            $('<input type = "checkbox" id = "' + answerID + '"' + checked + ' />' +
              '<label for = "' + answerID + '">' + questionAnswers[i] + '</label>').
                  appendTo("#answers");
        }
    }

    var arrayObjectIndexOf = function (myArray, searchTerm, property) {
        for(var i = 0, len = myArray.length; i < len; i++) {
            if (myArray[i][property] === searchTerm) return i;
        }
        return -1;
    }

    var getCheckedAnswers = function (question) {
        var currentUserResult = userResults.filter(function (result) { 
            return result.text == question; 
        })[0];
        var checks = answers[currentQuestion].map(function (answer) {
            if(currentUserResult == undefined) return false;
            for (var i in currentUserResult.answers) {
                if (answer == currentUserResult.answers[i]) {
                    return true;
                }
            }
            return false;
        });
        return checks;
    }

    var getUserAnswers = function () {
        var questionAnswers = answers[currentQuestion];
        var userAnswers = [];
        for(var i in questionAnswers) {
            var answerID = '#box' + i;
            if($(answerID).prop("checked")) {
                userAnswers.push(questionAnswers[i]);
            }
       }
       return userAnswers;
    }

    var finishTest = function () {
        $('.test_container').text("");
        $.post(
            "{% url 'get_test_result' test.id %}",
            { 'results': JSON.stringify(userResults) },
            function (data) {
                $('#result').text(data);
            }
        );
    }

    var startTimer = function (duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.text(minutes + ":" + seconds);

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    var saveUserAnswer = function() {
        userResults.push({
            'text' : questions[currentQuestion],
            'answers' : getUserAnswers()
        });
    }
</script>
    <div class="test_container">
        <div>You have <span id="timer"></span> minutes left</div>
        <div id="navigation"></div>
        <div id="question_container">
            <div id="question"></div>
            <div id="answers"></div>
        </div>
        <div id="answer_button">Answer</div>
        <div id="finish_button">Finish</div>
    </div>
    <div id="result"></div>
{% endblock %}