{% extends "base.html" %}

{% block main %}
<script>
    setTimeout(function () {
       window.location.href = "{% url 'courses' %}"; 
    }, {{ end_time }});

    var showQuestion = function (questions, answers, currentQuestion) {
        $("#question").text(questions[currentQuestion]);
        var questionAnswers = answers[currentQuestion];
        for (var i in questionAnswers) {
            var answerID = 'box' + i;
            $('<input type = "checkbox" id = "' + answerID + '" />' +
              '<label for = "' + answerID + '">' + questionAnswers[i] + '</label>').
                  appendTo("#answers");
        }
    }

    var getUserAnswers = function (answers, currentQuestion) {
        var questionAnswers = answers[currentQuestion];
        var userAnswers = [];
        for(var i in questionAnswers) {
            var answerID = '#box' + i;
            if($(answerID).prop("checked")) {
                userAnswers.push(questionAnswers[i]);
            }
       }
       return userAnswers;
    }

    $(document).ready(function () {
        var questions = [];
        var answers = [];
        var userAnswers = [];
        var currentQuestion = 0;

        $.get("{% url 'get_questions' test.id %}", function (data) {
            questions = Object.keys(data);
            for (var i in questions){
                answers.push(data[questions[i]]);
            }
            showQuestion(questions, answers, currentQuestion);
        });

        $("#answer_button").click(function () {
            userAnswers.push({
                'question' : questions[currentQuestion],
                'answers' : getUserAnswers(answers, currentQuestion)
            });
            $("#answers").text("");
            currentQuestion++;
            if (currentQuestion >= questions.length) {
                $('.main').text("");
                $.post(
                    "{% url 'get_test_result' test.id %}",
                    { 'answers': JSON.stringify(userAnswers) },
                    function (data) {
                        $('#result').text(data);
                        alert(data);
                    }
                );
                //window.location.href = "{% url 'courses' %}";
            }
            showQuestion(questions, answers, currentQuestion);
        });
    });
</script>
    <div id="question_container">
        <div id="question"></div>
        <div id="answers"></div>
    </div>
    <div id="answer_button">Answer</div>
    <div id="result"></div>
{% endblock %}