/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header {
    background: white;
    padding: 9px 0;
    border-bottom: 1px solid #aaa;
    position: relative;
}

.footer {
    border-top: 1px solid #aaa;
    color: #909090;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0 18px;
    background: white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}*/
a:hover.glyphicon, a:focus.glyphicon, a.glyphicon {
    color: black;
    text-decoration: none;
}

.edit-button {
    font-size: 30px;
    top: -25px;
    position: relative;
}

.navbar-default {
    background-color: rgba(41, 195, 11, 0.47);
}

.navbar-default .navbar-brand {
    color: #7522B7;
}

/* like */
.like-container {
    float: right;
}

.like-button {
    background: none;
    border: none;
}

.like-button span {
    font-size: 40px;
}

.like-count {
    top: -10px;
    position: relative;
}

/* courses */
.clearfix.course-break {
    border-bottom: 1px solid black;
}

.course-container {
    
}

.course-element {
}

/**/
.main {
    border-radius: 10px;
}

.nav li a {
    color: #7522B7 !important;
}

