
.navigation {
    left: 90px;
    margin: 15px;
    position: relative;
}

a:hover.glyphicon, a:focus.glyphicon, a.glyphicon {
    color: black;
    text-decoration: none;
}

.middle-href {
    right: 50%;
    transform: translate(0, -50%);
    position: absolute;
}

.edit-button {
    font-size: 30px;
    top: -25px;
    position: relative;
}

/*forms*/

.form-btn {
    height: 45px;
    width: 100px;
    position: relative;
    top: -2px;
    font-size: 20px;
}

form input, textarea{
    display: block;
}

form input[type=submit] {
    /*margin-top: 10px;*/
    top: 10px;
    position: relative;
}

.navbar-default {
    background-color: rgba(41, 195, 11, 0.47);
}

.navbar-default .navbar-brand {
    color: #7522B7;
}

/* like */
.like-container {
    float: right;
}

.like-button {
    background: none;
    border: none;
    display: inline-block;
}

.like-button:hover {
    cursor: pointer;
}

.like-button:active {
    top: 1px;
    position: relative;
}

.like-button span {
    font-size: 40px;
}

.like-count {
    top: -10px;
    position: relative;
}

.glyphicon-heart {
    font-size: 14px;
}

/* courses */
.clearfix.course-break {
    border-bottom: 1px solid black;
}

.delete-course-btn {
    position: relative;
    margin-top: -8.5%;
    left: 91%;
}

.course-container {
    
}

.course-element {
}

/*progress bar*/
.progress-bar-container {
    position: relative;
    top: 4px;
    display: inline-block;
}

/*course*/
.module-element {
    padding-left: 5em;
}

/*module*/
.lecture-container {
    display: inline-block;
}

.test-container {
    float: right;
    display: inline-block;
}

.list-element {
    position: relative;
    left: 7px;
}

/*test*/
.start-test-button {
    left: 50%;
    margin-right: -50%;
    position: relative;
}

.start-test-button a {
    color: white;
    text-decoration: none;
}

.test-edit-btn {
    position: relative;
    left: 235px;
    top: 25px;
}

/*lecture*/
.video-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
}

/*testing*/
.timer-container {
    display: inline-block;
    float: right;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: #99E28B;
}

.question-button {
}

#timer {
    left: 15%;
    top: 20%;
    position: relative;
}

#question-navigation {
    display: inline-block;
}

#question-container {
    left: 100px;
    top: -78px;
    position: relative;
}

#answer-button {
    float: right;
    position: relative;
    left: -120px;
}

#finish-button {
    float:right;
    position: relative;
    left: -5px;
}

#answers {
    position: relative;
    top: 10px;
    left: 30px;
}

/*profile*/
.course-element-crutch {
    height: 105px;
}

.profile-data-container {
    margin-top: 45px;
    margin-bottom: 45px;
}

.profile-data-container form{
    padding-left: 5em;
}
/*test-editor*/
.question-form-container {
    position: relative;
    left: 35%;
}

.question-delete-form input[type=submit] {
    position: relative;
    left: 21.5%;
    margin-top: -7.5%;
}

.answer-delete-form input[type=submit] {
    position: relative;
    left: 70%;
    margin-top: -24.5%;
}

/*register*/
.register-btn {
    margin-top: -7.5%;
    left: 13.5%;
    position: relative;
}

/**/
.main {
    border-radius: 10px;
}

.nav li a {
    color: #7522B7 !important;
}

.progress-container {
    float: right;
    top: -65px;
    position: relative;
}

textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
